
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,600;6..96,700;6..96,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
html {
    font-family: "Bodoni Moda", serif;
    font-family: "Nunito", sans-serif;
  }
*{
    padding: 0;
    margin: 0;
  
}
body{
    background: linear-gradient( to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    height: 100vh;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}
.card{
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 60%;
    border-radius: 10px;
    overflow: hidden;
   
}
.section1{
    padding: 60px 0px ;
    width: 50%;  
}
.background img{
    max-width: 50 rem;
    position: relative;
    margin-left: -100px;
    height: 450px;
}
.womanimage img{
   position: relative;
   align-items: center;
   justify-content: center;
   margin-left: -430px;
   height: 320px;


    /* height: 250px;
    align-items: center;
    justify-content: flex-start;
    margin-left: -120px; */
} 
.box img{
   position: absolute;
   margin-left: -450px;
 margin-top: -40px;
 

  
} 
.images{
    display: flex;
    align-items: center;
    
    
}

.section2{
    padding: 50px;
    width: 50%;
    margin-top: 50px;
}
.section2 h3{
    font-weight: 900;
    font-size: 30px;
}
details{
    margin: 20px;
    font-size: 12px;
}
details summary{
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
span img{
    display: flex;
    justify-content: space-between;
}
summary::marker{
    content: '';
}
hr{
    opacity: .6;
}